@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Thin.woff);
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Medium.woff);
    font-weight: 500;
}

@font-face { 
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Black.woff);
    font-weight: 900;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root {
    --first-blue: #162C40;
    --second-blue: #2675A6;
    --third-blue: #498BA6;
    --fourth-blue: #B4D2D9;
    --dark-theme: #0D0D0D;
    --light-theme: #FAFBFD;
    --test: rgb(183, 27, 0);
}

body {
    background-color: var(--light-theme);
    position: absolute;
    background-image: url(./assets/images/wallpaper7.png);
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 2rem;
    width: 100%;
    background-color: transparent;
    font-size: 0.75rem;
    position: fixed;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.menu, a {
    margin: 0;
    padding: 0;
}

.menu li {
    position: relative;
}

.menu li a {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    color: var(--light-theme);
}

.menu li a:focus,
.menu li a:hover {
    color: var(--light-theme);
    background-color: var(--second-blue);
    border-radius: 4px;
}

.menu li ul {
    position: absolute;
    background-color: #1C1C1E;
    border-radius: 5px;
    color: var(--fourth-blue);
    display: none;
    padding: 0;
    margin: 0;
    border: 1px solid var(--light-theme);
}

.menu li:hover ul,
.menu li.hover ul {
    display: block;
}

.menu li ul li {
    display: block;
    width: 10rem;
    margin: 5px;
    border-radius: 5px;
}

.btn-header {
    position: relative;
    padding: 5px 20px;
    margin-left: 1rem;
    outline: none;
    border: 2px solid var(--test);
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.45s;
    transition-delay: 0s;
    background-color: var(--dark-theme);
    color: var(--light-theme);
    animation: 3s linear background-changed infinite;
}

.btn-header:hover {
    transition-delay: 1.0s;
    box-shadow: 0 0 10px var(--test),
    0 0 20px var(--test),
    0 0 40px var(--test), 
    0 0 80px var(--test), 
    0 0 100px var(--test);
    animation: none;
}

.btn-header span {
    position: relative;
    z-index: 100;
}

.btn-header::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 2px;
    background: var(--test);
    box-shadow: 5px -8px 0 var(--test),
        5px 8px 0 var(--test);
    transition: width 0.5s,
        left 0.5s,
        height 0.5s,
        box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

.btn-header:hover::before {
    width: 60%;
    height: 110%;
    left: -2px;
    box-shadow: 5px 0 0 var(--test),
        5px 0 0 var(--test);
    transition-delay: 0s, 0.5s, 1s, 1s;
    border-radius: 5px;
}

.btn-header::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 2px;
    background: var(--test);
    box-shadow: -5px -8px 0 var(--test),
        -5px 8px 0 var(--test);
    transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

.btn-header:hover::after {
    width: 60%;
    height: 110%;
    right: -2px;
    box-shadow: -5px 0 0 var(--test), -5px 0 0 var(--test);
    transition-delay: 0s, 0.5s, 1s, 1s;
    border-radius: 5px;
}

@keyframes background-changed {
    0% {background-color: var(--dark-theme)}
    25% {background-color: var(--first-blue);}
    50% {background-color: var(--second-blue);}
    75% {background-color: var(--third-blue);}
    100% {background-color: var(--dark-theme);}
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    margin-top: 150px;
    width: 100%;
    border: 1px solid gray;
}

.title, .subtitle {
    color: var(--light-theme);
    width: 50%;
    text-align: justify;
}

.subtitle {
    margin-top: 20px;
    font-size: 16px;
}

.btn-whats-main {
    margin-top: 50px;
    width: 50%;
}

.title::after {
    content: '|';
    margin-left: 2px;
    opacity: 1;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {opacity: 1;}
    50% {opacity: 0;}
}