@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Thin.woff);
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Black.woff);
    font-weight: 900;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body::-webkit-scrollbar {
    width: 10px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    background: var(--light-theme);
    /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
    background-color: var(--first-blue);
}

:root {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    --first-blue: #162C40;
    --second-blue: #2675A6;
    --third-blue: #498BA6;
    --fourth-blue: #B4D2D9;
    --dark-theme: #0D0D0D;
    --light-theme: #FAFBFD;
    --font-size-typeit: 34px;
    --cta-color: rgb(183, 27, 0);
    --ti-cursor-color: var(--light-theme);
    --ti-cursor-font-size: var(--font-size-typeit);
    --ti-cursor-transform: translateX(.1rem);
    --dark-gradient: linear-gradient(90deg, rgba(21, 21, 21, 1) 0%, rgba(27, 27, 27, 1) 9%, rgba(34, 34, 34, 1) 29%, rgba(39, 39, 39, 1) 40%, rgba(37, 37, 37, 1) 48%, rgba(48, 48, 48, 1) 68%, rgba(64, 64, 64, 1) 100%);
    --blue-gradient: linear-gradient(148deg, rgba(22, 44, 64, 1) 0%, rgba(28, 73, 104, 1) 0%, rgba(37, 114, 162, 1) 83%, rgba(38, 117, 166, 1) 100%);
}

body {
    background: #212121;
    background: var(--dark-gradient);

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 2rem;
    top: 0;
    width: 100%;
    font-size: 0.75rem;
    position: fixed;
    z-index: 2000;
}


#btn-mobile {
    display: none;
    border: none;
}

.fa-chevron-down {
    transition: all .5s;
    margin-left: 5px;
    width: 10px;
}

#menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 0.875rem;
    font-weight: 700;
    letter-spacing: 2px;
}

#menu,
a {
    margin: 0;
    padding: 0;
}

#menu li {
    position: relative;
}

#menu li a {
    text-decoration: none;
    padding: 5px 10px;
    display: block;
    color: var(--light-theme);
}

#menu li a:focus,
#menu li a:hover {
    color: var(--light-theme);
    background-color: var(--second-blue);
    border-radius: 4px;
}

#menu li ul {
    background: #212121;
    background: var(--dark-gradient);
    border-radius: 5px;
    padding: 0;
    margin: 0;
    position: absolute;
    overflow: hidden;
    max-height: 0;
    transition: all .5s;
    width: 100%;
    align-items: flex-end;
}

#menu li:hover ul,
#menu li.hover ul {
    height: auto;
    max-height: 200px;
    transition: all .5s;
}

#menu li:hover .fa-chevron-down {
    transform: rotateX(180deg);

}

#menu li ul li {
    display: block;
    width: 10rem;
    margin: 5px;
    border-radius: 5px;
}

.btn-whats-main {
    position: relative;
    padding: 5px 20px;
    margin-left: 1rem;
    outline: none;
    border: 2px solid var(--cta-color);
    border-radius: 5px;
    font-size: 0.875rem;
    font-weight: 900;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.45s;
    transition-delay: 0s;
    background-color: var(--dark-theme);
    color: var(--light-theme);
    animation: 3s linear background-changed infinite;
}

.btn-whats-main:hover {
    transition-delay: 1.0s;
    box-shadow: 0 0 10px var(--cta-color),
        0 0 20px var(--cta-color),
        0 0 40px var(--cta-color),
        0 0 80px var(--cta-color),
        0 0 100px var(--cta-color);
    animation: none;
}

.btn-whats-main span {
    position: relative;
    z-index: 100;
}

.btn-whats-main::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 2px;
    background: var(--cta-color);
    box-shadow: 5px -8px 0 var(--cta-color),
        5px 8px 0 var(--cta-color);
    transition: width 0.5s,
        left 0.5s,
        height 0.5s,
        box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

.btn-whats-main:hover::before {
    width: 60%;
    height: 110%;
    left: -2px;
    box-shadow: 5px 0 0 var(--cta-color),
        5px 0 0 var(--cta-color);
    transition-delay: 0s, 0.5s, 1s, 1s;
    border-radius: 5px;
}

.btn-whats-main::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 2px;
    background: var(--cta-color);
    box-shadow: -5px -8px 0 var(--cta-color),
        -5px 8px 0 var(--cta-color);
    transition: width 0.5s, right 0.5s, height 0.5s, box-shadow 0.5s;
    transition-delay: 1s, 0.5s, 0s, 0s;
}

.btn-whats-main:hover::after {
    width: 60%;
    height: 110%;
    right: -2px;
    box-shadow: -5px 0 0 var(--cta-color), -5px 0 0 var(--cta-color);
    transition-delay: 0s, 0.5s, 1s, 1s;
    border-radius: 5px;
}

@keyframes background-changed {
    0% {
        background-color: var(--dark-theme)
    }

    25% {
        background-color: var(--first-blue);
    }

    50% {
        background-color: var(--second-blue);
    }

    75% {
        background-color: var(--third-blue);
    }

    100% {
        background-color: var(--dark-theme);
    }
}

.contato-container,
.box-main-container {
    padding: 20px 40px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 75px;
    height: 101vh;
    background: rgb(21, 21, 21);
    background: var(--dark-gradient);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(./assets/images/wallpaper9.png);
}

.box-main-container {
    border: 1px solid red;
}

.box-one {
    width: 45%;
}

.box-two {
    width: 50%;
}


.title-main-container,
.subtitle,
.typeItTitle,
#tipeIt,
#typeit::before {
    color: var(--light-theme);
    justify-content: flex-start;
    align-items: flex-start;
}

#typeit,
.typeItTitle {
    margin-top: 50px;
    font-size: var(--font-size-typeit);
}

.subtitle {
    margin-top: 20px;
    font-size: 16px;
}

.btn-whats-main {
    margin-top: 50px;
    width: 50%;
    margin-left: 50%;
    transform: translateX(-50%);
}

.formContainer {
    width: 40%;
    margin-top: 20px;

}

.form-control {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form-button:focus {
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Safari 3-8 */
    transform: scale(0.9);
    box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -moz-box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -webkit-box-shadow: 0px 0px 30px rgb(94, 94, 94);
}

.whatsapp-fixed {
    position: fixed;
    display: flex;
    bottom: 60px;
    height: 70px;
    right: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 250ms;
    border-radius: 50%;
    width: 45px;
    height: auto;
    animation: blink 0.6s ease-in-out infinite alternate;
    z-index: 2000;
}

@keyframes blink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px #29A71A;
        -moz-box-shadow: 0px 0px 30px #29A71A;
        -webkit-box-shadow: 0px 0px 30px #29A71A;
    }
}

#backToTop {
    position: fixed;
    display: none;
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: var(--first-blue);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 250ms;
    z-index: 3000;
}

#backToTop::after {
    content: "↑";
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: margin-top 250ms;
}

#backToTop:hover::after {
    margin-top: -8px;
}

#backToTop:hover {
    background-color: var(--third-blue);
}

.main-footer {
    position: relative;
    background: rgb(21, 21, 21);
    background: var(--dark-gradient);
    color: var(--light-theme);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.icon-social-midia {
    font-size: 30px;
    color: var(--second-blue);
    border-radius: 50%;
}

.uiverse:hover .icon-social-midia {
    color: var(--light-theme);
}

.logo-footer {
    position: absolute;
    width: 105px;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
}

.termos-footer {
    color: var(--second-blue);
    margin-left: 10px;
}

.termos-footer:hover {
    color: var(--light-theme);
}


.social-midias-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.uiverse {
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: var(--light-theme);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 1000;
    opacity: 0;
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.uiverse:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.uiverse:hover .tooltip,
.uiverse:hover .tooltip::before {
    background: var(--second-blue);
    color: var(--light-theme);
}



@media screen and (max-width: 980px) {

    #menu {
        position: absolute;
        width: auto;
        top: 4rem;
        transition: all 0.5s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
        right: 0;
        border-radius: 5px;
        padding: 10px;
        gap: 15px;
    }

    #menu li ul {
        position: relative;
        background: #162C40;
    }

/*     #menu li a {
        text-align: end;
    }

    #menu li ul li {
        display: flex;
        width: 100%;
        justify-content: end;
    }

    #menu li ul li a {
        margin-right: 15px;
    }
 */
    .btn-header {
        display: none;
    }

    #nav.active #menu {
        height: 100vh;
        visibility: visible;
        overflow-y: auto;
        z-index: 1000;
        background: var(--dark-gradient);
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    #btn-mobile {
        display: flex;
        font-size: 22px;
        border-radius: 5px;
        padding: 8px;
        background: transparent;
        gap: 0.5rem;
        color: var(--light-theme);
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}