#contato {
    background: var(--light-theme);
    position: relative;
}

.custom-shape-divider-top-1674270001 {
    position: absolute;
    top: -2px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1674270001 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 96px;
}

.custom-shape-divider-top-1674270001 .shape-fill {
    fill: var(--main-blue);
}

.form-container {
    width: 50%;
}

.container-links-contact {
    margin-bottom: var(--margin-6);
    margin-top: var(--margin-8);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.25rem;
}

.title-contact, .title-form {
    font-size: var(--font-desktop-title);
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: var(--margin-8);
    margin-bottom: var(--margin-3);
    color: var(--main-blue);
}

.links-contact {
    display: flex;
    align-items: center;
    color: var(--main-blue);
    text-decoration: none;
    font-size: var(--font-body);
}

.links-contact:hover {
    color: var(--second-blue);
}

.whatsapp-contact,
.location-contact,
.envelope-contact {
    font-size: 2.5rem;
    margin-right: .625rem;
    color: var(--main-blue);
}

.links-contact:hover .whatsapp-contact,
.links-contact:hover .location-contact,
.links-contact:hover .envelope-contact{
    animation: shake 1s;
}


@keyframes shake {
    10%, 90% {
      transform: translate(-5px, -2px);
    }
    
    20%, 80% {
      transform: translate(5px, -3px);
    }
  
    30%, 50%, 70% {
      transform: translate(-3px, -4px);
    }
  
    40%, 60% {
      transform: translate(3px, 0);
    }
  }

.input-grouping {
    position: relative;
}

.input {
    width: 100%;
    border: solid 1.5px var(--main-blue);
    border-radius: 1rem;
    background: none;
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: var(--main-blue);
    transition: border 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.user-label {
    position: absolute;
    left: 1rem;
    color: var(--main-blue);
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input:focus,
input:valid {
    outline: none;
    border: 1.5px solid var(--cta-color);
}

.input:focus~label,
input:valid~label {
    transform: translateY(-50%) scale(0.9);
    background: var(--light-theme);
    padding: 0 .3rem;
    color: var(--cta-color);
}

.form-button {
    width: 100%;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 900;
    cursor: pointer;
    background: var(--cta-color);
    color: var(--light-theme);
    letter-spacing: 2px;
    margin-bottom: var(--margin-6);
}

.form-button:hover {
    transform: scale(0.95);
    -ms-transform: scale(0.95);
    /* IE 9 */
    -webkit-transform: scale(0.95);
    /* Safari 3-8 */
    box-shadow: 0px 0px 30px var(--cta-color);
    -moz-box-shadow: 0px 0px 30px var(--cta-color);
    -webkit-box-shadow: 0px 0px 30px var(--cta-color);
}

@media screen and (max-width: 900px) {

    .title-form {
        font-size: var(--font-mobile-title);
    }
}

@media screen and (max-width: 750px) {

    .form-container {
        width: 100%;
    }

    .whatsapp-contact,
.location-contact,
.envelope-contact {
    font-size: 1.5rem;
}
}

@media screen and (max-width: 300px) {
    #contato {
        padding: 4rem .75rem;
    }
    
}

.custom-shape-divider-bottom-1674428492 {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1674428492 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 32px;
}

.custom-shape-divider-bottom-1674428492 .shape-fill {
    fill: var(--main-blue);
}

/** For tablet devices **/
@media (min-width: 768px) and (max-width: 1023px) {

    .custom-shape-divider-bottom-1674428492 svg {
        width: calc(100% + 1.3px);
        height: 30px;
    }

    .custom-shape-divider-top-1674270001 svg {
        width: calc(100% + 1.3px);
        height: 70px;
    }
}

/** For mobile devices **/
@media (max-width: 767px) {

    .custom-shape-divider-bottom-1674428492 svg {
        width: calc(100% + 1.3px);
        height: 1rem;
    }

    .custom-shape-divider-top-1674270001 svg {
        width: calc(100% + 1.3px);
        height: 50px;
    }
}
