@import url("../styles/variables.css");
@import url("../styles/reset.css");
@import url("../styles/menu.css");
@import url("../styles/top-container.css");
@import url("../styles/about.css");
@import url("../styles/services.css");
@import url("../styles/portfolio.css");
@import url("../styles/contact.css");
@import url("../styles/footer.css");

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Thin.woff);
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Black.woff);
    font-weight: 900;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--light-theme);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--first-blue);
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    background: var(--dark-gradient);
    overflow-x: hidden;
    color: var(--light-theme);
}





.form-container {
    width: 40%;
    margin-top: 20px;
}

.form-control {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form-button:focus {
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Safari 3-8 */
    transform: scale(0.9);
    box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -moz-box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -webkit-box-shadow: 0px 0px 30px rgb(94, 94, 94);
}