@import url("../styles/variables.css");
@import url("../styles/reset.css");
@import url("../styles/menu.css");
@import url("../styles/top.css");
@import url("../styles/footer.css");

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Thin.woff);
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Black.woff);
    font-weight: 900;
}

body::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track {
    background: var(--light-theme);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--first-blue);
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 50px;
}

body {
    background: var(--dark-gradient);
    overflow-x: hidden;
    color: var(--light-theme);
}

.custom-shape-divider-bottom-1672724897 {
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.custom-shape-divider-bottom-1672724897 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 58px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1672724897 .shape-fill {
    fill: var(--dark-blue);
}

@media (max-width: 767px) {
    .custom-shape-divider-bottom-1672724897 svg {
        width: calc(162% + 1.3px);
        height: 36px;
    }
}

.sessions {
    padding: 4rem 2rem;
}

#sobre {
    display: flex;
    flex-direction: column;
    background: var(--dark-blue);

}

.my-image {
    float: right;
    width: 300px;
    border-radius: 50%;
}

.title-session {
    font-size: var(--font-desktop-title);
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: var(--margin-6);
}

.subtitle-session {
    margin-top: var(--margin-6);
    font-size: var(--font-body);
    line-height: 150%;
    font-weight: 500;
    margin-right: 10rem;
}

.title-techs {
    margin-top: var(--margin-8);
    font-size: var(--font-desktop-title);
    font-weight: 700;
    letter-spacing: 2px;
}

.techs-container {
    margin-top: var(--margin-3);
    display: flex;
    align-items: center;
    gap: 15px;
    flex-wrap: wrap;
}

.techs {
    height: 3rem;
    color: var(--light-theme);
    border-radius: 50%;
    /*o efeito de tooltip nas ".techs" está sendo usado com as mesmas classes da pasta "footer.css"*/
}

.tip-box:hover .fa-html5 {
    color: #F16529;
}

.tip-box:hover .fa-css3-alt {
    color: #0089CA;
}

.tip-box:hover .fa-js {
    color: #F8DC3E;
}

.tip-box:hover .fa-node {
    color: #539E43;
}

.tip-box:hover .fa-git-alt {
    color: #F03C2E;
}

.tip-box:hover .fa-wordpress {
    color: #1B769C;
}

.figma-logo {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
}

.left {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.right {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.circle {
    border-radius: 50px;
}

.clip {
    border-bottom-right-radius: 50px;
}

.element {
    width: 15px;
    height: 15px;
    background: transparent;
    border: 2px solid #fff;
}

.orange {
    background: transparent;
}

.purple {
    background: transparent;
}

.blue {
    background: transparent;
}

.green {
    background: transparent;
}

.tip-box:hover .element {
    background: #FF0000;
    border: none;
}

.tip-box:hover .orange {
    background: #FB7266;
}

.tip-box:hover .purple {
    background: #A061FA;
}

.tip-box:hover .blue {
    background: #2EBDFA;
}

.tip-box:hover .green {
    background: #00CE84;
}

.tip-box:hover .fa-react {
    color: #09D9FE;
}

.tip-box:hover .fa-bootstrap {
    color: #850AFA;
}

@media screen and (max-width: 500px) {
    .my-image {
        width: 200px;
    }
}

@media screen and (max-width: 993px) {

    .my-image {
        float: none;
        margin-left: 50%;
        transform: translateX(-50%);
    }

    .title-session {
        font-size: var(--font-mobile-title);
    }

    .subtitle-session {
        margin-right: 0;
    }

    .title-techs {
        margin-top: var(--margin-8);
        font-size: var(--font-desktop-title);
        font-weight: 700;
        letter-spacing: 2px;
    }

    .techs-container {
        margin-top: var(--margin-3);
        display: flex;
        align-items: center;
        gap: 15px;
        flex-wrap: wrap;
    }

}





.form-container {
    width: 40%;
    margin-top: 20px;
}

.google {
    height: 43px;
}

.tip-box:hover .google-white,
.google-color {
    display: none;
}

.tip-box:hover .google-color {
    display: block;
}

.form-control {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form-button:focus {
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Safari 3-8 */
    transform: scale(0.9);
    box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -moz-box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -webkit-box-shadow: 0px 0px 30px rgb(94, 94, 94);
}

.whatsapp-fixed {
    position: fixed;
    display: flex;
    bottom: 55px;
    height: 70px;
    right: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 250ms;
    border-radius: 50%;
    width: 45px;
    height: auto;
    z-index: 2000;
}

.whatsapp-fixed:hover {
    animation: blink 0.6s ease-in-out infinite alternate;
}

@keyframes blink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px #29A71A;
        -moz-box-shadow: 0px 0px 30px #29A71A;
        -webkit-box-shadow: 0px 0px 30px #29A71A;
    }
}

#backToTop {
    position: fixed;
    bottom: 15px;
    right: 22px;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 50%;
    background-color: var(--first-blue);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 250ms;
    z-index: 3000;
}

.back-to-top-inactive {
    display: none;
}

.back-to-top-active {
    display: block;
}

#backToTop .fa-angles-up {
    position: relative;
    font-size: 13px;
    color: var(--light-theme);
    transition: margin-bottom 250ms;
}

#backToTop:hover .fa-angles-up {
    margin-bottom: 10px;
}

#backToTop:hover {
    background-color: var(--third-blue);
}