header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0.3rem 2rem;
	top: 0;
	width: 100%;
	font-size: 0.75rem;
	position: fixed;
	z-index: 2000;
	background: rgba(0, 6, 30, .9);
}

.header-on-scroll {
background: var(--dark-blue);
}

#btn-mobile {
	display: none;
	border: none;
}

#menu {
	display: flex;
	align-items: center;
	list-style: none;
	font-size: .95rem;
	font-weight: 700;
	letter-spacing: 3px;
}

#menu li {
	position: relative;
}

#menu li a {
	text-decoration: none;
	padding: 10px;
	display: block;
	color: var(--light-theme);
}

#menu li a:focus,
#menu li a:hover {
	color: var(--light-theme);
	background-color: var(--second-blue);
	border-radius: 5px;
}

#menu li ul li {
	border: 1px solid var(--light-theme);
}

#menu li ul li a:hover {
	border-radius: 0;
}

#sub-menu {
	background: var(--dark-blue);
	border-radius: 5px;
	position:absolute;
	overflow: hidden;
	max-height: 0;
	transition: max-height .5s;
	/* white-space: nowrap;*/
}

#menu li:hover #sub-menu,
#menu li.hover #sub-menu {
	height: auto;
	max-height: 260px;
	transition: max-height .5s;
	border: 1px solid var(--light-theme);
}

.plus {
    margin-left: 5px;
	float: right;
}

.plus::after,
.plus::before {
    content: '';
    display: block;
    width: 10px;
    height: 2px;
    background: currentColor;
    margin-top: 6px;
    transition: transform .5s;
    position: relative;
}

.plus::after {
    transform: rotate(90deg);
    top: -8px;
}

#menu li:hover .plus::after {
    transform: rotate(180deg);
}

@media screen and (max-width: 770px) {

	#menu {
		position: absolute;
		width: auto;
		top: 4rem;
		z-index: 1000;
		right: 0;
		border-radius: 5px;
		padding: 10px;
		gap: 15px;
		position: absolute;
		overflow: hidden;
		max-height: 0;
		visibility: hidden;
		text-align: end;
	}

	#menu li ul {
		position: relative;
		transition: max-height .5s;
		text-align: start;
	}

	#menu li a:not(#menu li ul li a) {
		text-align: center;
	}

	.plus {
		position: absolute;
	}

	#nav.active #menu {
		height: 100vh;
		border-radius: 5px;
		visibility: visible;
		overflow-y: auto;
		z-index: 1000;
		background: var(--dark-blue);
		display: flex;
		flex-direction: column;
		align-items: center;
		max-height: 100vh;
		max-width: 80%;
		transition: max-height .5s;
	}

	#btn-mobile {
		display: flex;
		font-size: 22px;
		border-radius: 5px;
		padding: 8px;
		background: transparent;
		gap: 0.5rem;
		color: var(--light-theme);
	}

	#hamburger {
		border-top: 2px solid;
		width: 25px;
	}

	#hamburger::after,
	#hamburger::before {
		content: '';
		display: block;
		width: 25px;
		height: 2px;
		background: currentColor;
		margin-top: 8px;
		transition: 0.5s;
		position: relative;
	}

	#nav.active #hamburger {
		border-top-color: transparent;
	}

	#nav.active #hamburger::before {
		transform: rotate(135deg);
	}

	#nav.active #hamburger::after {
		transform: rotate(-135deg);
		top: -10px;
	}
}