@import url("../styles/variables.css");
@import url("../styles/reset.css");
@import url("../styles/menu.css");

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Thin.woff);
    font-weight: 100;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: Roboto;
    src: local(Roboto), url(./assets/font-roboto/woof/Roboto-Black.woff);
    font-weight: 900;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: var(--light-theme);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--first-blue);
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    scroll-padding-top: 85px;
}

body {
    background: var(--dark-gradient);
    overflow-x: hidden;
    color: var(--light-theme);
}

.main-container {
    height: 100vh;
    background: var(--dark-gradient);
    background: rgb(21, 21, 21) url(../images/bg-tech-canva.png) center center/cover no-repeat fixed;
}

.content-main-container {
    padding: 70px 30px;
    width: 50%;
    height: 100vh;
}

.typeit, .subtitle-main, .typeItTitle {
    margin-top: 30px;
}

.btn-whats-main {
    padding: 10px;
    border-radius: 20px;
    background-color: var(--cta-color);
    border: none;
    color: var(--light-theme);
    letter-spacing: 2px;
    font-weight: 900;
    margin-top: 50px;
}

.btn-whats-main:hover {
    background-color: var(--second-blue);
}

#sobre, #contato {    
    color: var(--light-theme);
    padding: 30px;
}

#sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--dark-theme);
}


.my-image {
width: 250px;
border-radius: 50%;
}

.formContainer {
    width: 40%;
    margin-top: 20px;

}

.form-control {
    width: 80%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}

.form-button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.form-button:focus {
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Safari 3-8 */
    transform: scale(0.9);
    box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -moz-box-shadow: 0px 0px 30px rgb(94, 94, 94);
    -webkit-box-shadow: 0px 0px 30px rgb(94, 94, 94);
}

.whatsapp-fixed {
    position: fixed;
    display: flex;
    bottom: 60px;
    height: 70px;
    right: 15px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 250ms;
    border-radius: 50%;
    width: 45px;
    height: auto;
    animation: blink 0.6s ease-in-out infinite alternate;
    z-index: 2000;
}

@keyframes blink {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.1);
        box-shadow: 0px 0px 30px #29A71A;
        -moz-box-shadow: 0px 0px 30px #29A71A;
        -webkit-box-shadow: 0px 0px 30px #29A71A;
    }
}

#backToTop {
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: var(--first-blue);
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    transition: 250ms;
    z-index: 3000;
}

.back-to-top-inactive {
    display: none;
}

.back-to-top-active {
    display: block;
}

#backToTop .fa-angles-up {
    position: relative;
    font-size: 15px;
    color: var(--light-theme);
    transition: margin-bottom 250ms;
}

#backToTop:hover .fa-angles-up {
    margin-bottom: 10px;
}

#backToTop:hover {
    background-color: var(--third-blue);
}

.main-footer {
    position: relative;
    background: var(--dark-blue);
    color: var(--light-theme);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.logo-footer {
    width: 70px;
    float: left;
}

.icon-social-midia {
    font-size: 30px;
    color: var(--light-theme);
    border-radius: 50%;
}

.termos-footer {
    color: var(--light-theme);
    margin-left: 10px;
    white-space: nowrap;
}

.termos-footer:hover {
    color: var(--second-blue);
}

.copy-footer {
    text-align: center;
}

.social-midias-container,
.copy-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.sm-box:hover .icon-social-midia {
    color: var(--second-blue);
}

.sm-box {
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #ffffff;
    color: var(--light-theme);
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    pointer-events: none;
    transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: 1000;
    opacity: 0;
}

.tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #ffffff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.sm-box:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.sm-box:hover .tooltip,
.sm-box:hover .tooltip::before {
    background: var(--second-blue);
    color: var(--light-theme);
}