.top-container {
	min-height: 110vh;
	height: auto;
	background: var(--test-blue) url(../images/bg-tech.png) center right/cover no-repeat fixed;
	margin: 0;
	padding: 4rem 20rem 4rem 2rem;
	position: relative;
}

.title-top {
	font-size: var(--font-desktop-title);
	margin-top: var(--margin-7);
	font-weight: 700;
	letter-spacing: 2px;
}

.type-it-title {
	font-size: 1.625rem;
	font-weight: 700;
}

.subtitle-top,
.type-it {
	font-size: var(--font-body);
	line-height: 150%;
	letter-spacing: 2px;
	font-weight: 500;
}

.subtitle-top {
	margin-top: var(--margin-1);
}

.btn-whats-top,
.type-it-title {
	margin-top: var(--margin-6);
}

.btn-whats-top {
	padding: 10px 20px;
	border: none;
	outline: none;
	color: var(--light-theme);
	font-weight: 700;
	letter-spacing: 2px;
	font-size: var(--font-body);
	cursor: pointer;
	position: relative;
	z-index: 0;
	border-radius: 25px;
	box-shadow: 0 0 20px var(--cta-color);
}

.btn-whats-top::after {
	content: "";
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--cta-color);
	left: 0;
	top: 0;
	border-radius: 25px;
}

.btn-whats-top::before {
	content: "";
	background: linear-gradient(45deg,
			var(--cta-color), var(--test-blue), var(--cta-color), var(--test-blue),
			var(--cta-color), var(--test-blue), var(--cta-color), var(--test-blue));
	position: absolute;
	top: -6px;
	left: -6px;
	background-size: 600%;
	z-index: -1;
	width: calc(100% + 16px);
	height: calc(100% + 16px);
	filter: blur(8px);
	animation: glowing 20s linear infinite;
	transition: opacity .3s ease-in-out;
	border-radius: 25px;
	
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}

.btn-whats-top:hover::after {
	background: transparent;
}

.btn-whats-top:active {
	transform: scale(0.9);
}

@media screen and (max-width: 900px) {


	.top-container {
		background: var(--test-blue) url(../images/bg-tech-mobile.png) center center/cover no-repeat fixed;
		padding: 4.375rem 1.875rem;
	}

	.title-top {
		font-size: var(--font-mobile-title);
		margin-top: var(--margin-3);
	}

	.subtitle-top {
		margin-top: var(--margin-2);
	}

	.btn-whats-top,
	.type-it-title {
		margin-top: var(--margin-8);
	}


}

@media screen and (max-width: 300px) {
    .top-container {
        padding: 4rem .5rem;
    }
    
}