
:root {
    --first-blue: #162C40;
    --second-blue: #2675A6;
    --third-blue: #498BA6;
    --fourth-blue: #B4D2D9;
    --dark-theme: #0D0D0D;
    --light-theme: #FAFBFD;
    --font-size-typeit: 34px;
    --cta-color: rgb(183, 27, 0);
    --ti-cursor-color: var(--light-theme);
    --ti-cursor-font-size: var(--font-size-typeit);
    --ti-cursor-transform: translateX(.1rem);
    --dark-gradient: linear-gradient(90deg, rgba(21, 21, 21, 1) 0%, rgba(27, 27, 27, 1) 9%, rgba(34, 34, 34, 1) 29%, rgba(39, 39, 39, 1) 40%, rgba(37, 37, 37, 1) 48%, rgba(48, 48, 48, 1) 68%, rgba(64, 64, 64, 1) 100%);
    --blue-gradient: linear-gradient(148deg, rgba(22, 44, 64, 1) 0%, rgba(28, 73, 104, 1) 0%, rgba(37, 114, 162, 1) 83%, rgba(38, 117, 166, 1) 100%);
}